<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/master.css">
   <link rel="stylesheet" href="../static/colorjoe.css">

   <title>Document</title>

   <style>
      /* for colorjoe library, dont touch */
      .colorPicker{
          background:none;
          border: none;
          margin: 0;;
          padding: 0;
          width: 100%;
          height: 10;
      }
      .colorPicker .oned{
         margin-left: 0;
      }

      
   </style>
</head>

<body>
   <div class=background>
      <div class=container>
         <div class=action-bar>
            <a class="action-buttons" onclick="showMenu()" id="revelator">Canvas</a>
            <div class='file-deets hidden' id=files>
               <a class='file-buttons' onclick="newCanvas()">New</a>
               <a class='file-buttons'>Save</a>
               <a class='file-buttons' onclick ='showExp()'>Export</a>
               <a class='file-buttons' onclick="clearCanvas()">Clear</a>
            </div>
            <a class="action-buttons" href="{{url_for('home')}}" onclick="backWarn()" id = 'home'>Home</a>

         </div>
         <div class="wide-div">
            <div class=tool-bar>
               <div class="color-selector">
                  <div class = colorjoe></div>
               </div>
               <div class = config>
                  <div class = selected-color-text></div>
               </div>
               <div class=selected-color>
                  <label for="selected-color"> Hex :</label>
                  <input class id="selected-color" type="text" value="#000000" onchange="syncColor()">
               </div>
               <div class=brush-settings>
                  <div class="brush-size">
                     <input type="range" value="10" class=slider id=brush-range
                        oninput="syncBrushSize('brush-range', 'brush-num')">
                     <input type="number" id=brush-num min="1" max="100" step="1" value="10"
                        oninput="syncBrushSize('brush-num', 'brush-range')">
                  </div>
                  <div class="brush-shape">

                     <button id="e-pan" onclick="setPan()" class='brush-buttons'>
                        Pan Screen
                     </button>
                     <button id="brush" onclick="setBrush()" class='brush-buttons active-brush'>
                        Brush
                     </button>
                     <button id="eraser" onclick="setErase()" class='brush-buttons'>
                        Eraser
                     </button>
                  </div>
               </div>
               <div class=neo-roster>
                  <div class=header>
                     <div id=l>
                        Player Roster
                     </div>
                     <div id='r'>
                        1/4
                     </div>
                  </div>
                  <div id=ploingus>
                     <div class=player-list id=host> Host</div>

                  </div>
               </div>
            </div>
            <div class=canvas-holder>
               <div class="create-new">
                  <table id=create-holder>
                     <tr>
                        <td>
                           <label class="create-input" for="width">Width : </label>
                           <input class="create-input" id="width" value="7015">
                           <select class="create-input" name="width" id="w-measure" onclick="getprevUnit('w-measure')"
                              onchange="unitConversion('w-measure')">
                              <option value="px">px</option>
                              <option value="cm">cm</option>
                              <option value="in">in</option>
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <label class="create-input" for="height">Height : </label>
                           <input class="create-input" id="height" value="4960">
                           <select class="create-input" name="height" id="h-measure" onfocus="getprevUnit('h-measure')"
                              onchange="unitConversion('h-measure')">
                              <option value="px">px</option>
                              <option value="cm">cm</option>
                              <option value="in">in</option>
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <button class="create-input" onclick="swapWidthHeight()"> Swap Width and Height</button>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <button class="create-input" onclick="canvasInit()"> Create Canvas </button>
                        </td>
                     </tr>
                  </table>
               </div>
               <canvas id="myCanvas" class="hidden">
                  Your browser does not support the Canvas element :&#40
               </canvas>
            </div>
         </div>

      </div>
      <div class = "exporter hidden" id = expMenu>
         <div class = exportBin>
            <div class = expCol>
               <table>
                  <tr>
                     <th colspan="2">
                        Export Menu
                     </th>
                  </tr>
                  <tr>
                     <td>
                        <label for = name> Name: </label>
                     </td>
                     <td>
                        <input id = name value = 'Drawing'>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label for = 'format'> File Format</label></td>
                     <td>
                        <select id = format> 
                           <option value = 'PNG'> PNG </option>
                           <option value="JPEG"> JPEG</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <button id = save> Save File</button>
                     </td>
                     <td>
                        <button id = cancel onclick="hideExp()">Cancel</button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <script>
      window.localUserName = "{{ localUserName }}";
      window.gameId = "{{gameId}}"
      window.SOCKET_EVENTS = {
         LOBBY_LIST: "{{ LOBBY_LIST }}",
         CREATE_LOBBY: "{{ CREATE_LOBBY }}",
         VIEW_LOBBIES: "{{ VIEW_LOBBIES }}",
         JOIN_LOBBY: "{{ JOIN_LOBBY }}",
         UPDATE_GAME_STATE: "{{UPDATE_GAME_STATE}}",
         GET_LOBBY_DATA: "{{GET_LOBBY_DATA}}"
      };
   </script>

   <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
   <script src="/static/Socket.js"></script>
   <script src="../static/ClientCanvas.js"></script>
   <script src="../static/master.js"></script>
   <script src="../static/colorjoe.min.js"></script>
   <script>
      // import syncColor from master.js
      class colorPicker{
         constructor(root){
            this.root = root;
            this.colorjoe =  colorjoe.rgb(this.root.querySelector(".colorjoe"));
            this.selectedColor = null;
            this.colorjoe.on('change', color => {
               this.setSelectedColor(color.hex())
               // console.log(color.hex);
            });
            

            this.colorjoe.show();
         }
         setSelectedColor(color, skipCjUpdate = false){
            this.selectedColor = color;
            document.getElementById('selected-color').value = color;
            syncColor();
         }
      }

      const cj = new colorPicker(document.querySelector('.color-selector'))

   </script>
</body>

</html>