<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/master.css">
   <title>Drawing app</title>
</head>

<body>
   <div class=background>
      <p style="color:#ffc478; text-align:center;">
         Logged in as {{ session["user"] }}
      </p>
      <div class=menu>
         <div class=vert-bar>
            <!-- This is for a local canvas so we jsut force id to be 0 -->
            <a class="vert-button" href="{{ url_for('canvas', gameId = 0) }}">
               Illustrate
            </a>
            <a class="vert-button" href="{{url_for('lobby')}}">Draw with a friend</a>
            <a class="vert-button" href="{{url_for('saved')}}">Saved Drawings</a>
            <!-- <a class="vert-button" href="{{url_for('settings')}}">Settings</a> -->
            <a class="vert-button" href="{{url_for('profile')}}">Profile</a>
            <!-- <a class="vert-button" href="{{ url_for('logout') }}">Logout</a> -->
         </div>
         <div class=instruction>
            <p>
               Illustrate : Free Draw on a web-canvas
            </p>
            <p>
               Draw with a friend : Redirect to a lobby page, where you can matchmake with a friend to draw together
               
            </p>
            <p>
               Saved Drawings : Browse Illustrations you have saved 
            </p>
            <!-- <p>
               Settings : Manage Site Settings (Log-in Required)
            </p> -->
            <p>
               Profile : Manage Profile
            </p>
         </div>
      </div>
   </div>
</body>

</html>