<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= "../static/master.js"></script>
    <link rel="stylesheet" href="../static/master.css">
    <title>Document</title>
</head>
<body>
    <div class = background>
        <div class = lobby-menu>
            <div class="nav-bar">
                <a class = "nav-button" href="{{url_for('home')}}"> Home</a>
                <a class = "nav-button nav-active" id = info onclick="toggleHiddenLobby('info','create-lobby','join-lobby')">Information</a>
                <a class = "nav-button" id = create-lobby onclick="toggleHiddenLobby('create-lobby','info','join-lobby')">Create a Lobby</a>
                <a class = "nav-button" id = join-lobby onclick="toggleHiddenLobby('join-lobby','create-lobby', 'info')">Join a Lobby</a>
            </div>
            <div class = info onclick="">
                <div class = "bumblelings">
                    <p>
                        You can create a lobby to join a friend or join a friend. 
                    </p>
                    <p>
                        To do so, click "Create Lobby", then enter in your desired Lobby Name and Password.
                    </p>
                    <p>
                        To join a friend, click "Join a Lobby" and ask them for the Lobby Name and Password
                    </p>
                </div>
            </div>
            <div class = "create-lobby  hidden" >
                
                Create Lobby
            </div>
            <div class = "join-lobby hidden" >
                Enter Lobby Code
            </div>
        </div>
    </div>
</body>
</html>