<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/master.css">

    <title>Saved Drawings</title>
</head>

<body>

<div class="background">

    <div class="login-header"
    style="
         margin-top: 30px;
    ">
        Saved Drawings
    </div>

    <div class="login-container"
         style="
         width: 80%;
         height: 80%;
         overflow-y: auto;
         flex-direction: column;
         ">
        <a class="home" href="{{url_for('home')}}"> Home</a>
        
        {% for drawing in drawings %}

        <div style="
            width: 90%;
            background-color: #b00b5b;
            padding: 20px;
            margin: 10px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        ">

            <div>

                <h2 style="color:#ffc478;">
                    {{ drawing.drawing_name }}
                </h2>

                <img
                    src="{{ drawing.image_data }}"
                    width="250"
                    style="
                    border-radius: 10px;
                    border: 3px solid #ffc478;
                    background-color: white;
                    "
                >
                <div style="margin-top:15px;">

                    <a
                        href="{{ url_for('load_drawing', id=drawing.id) }}"
                        class="vert-button"
                        style="padding:10px;"
                    >
                     Load
                    </a>

    <button
        onclick="deleteDrawing({{ drawing.id }})"
        class="vert-button"
        style="padding:10px;"
    >
        Delete
    </button>

</div>
                

            </div>

        </div>

        {% endfor %}

    </div>

</div>
<script>

async function deleteDrawing(id)
{
    const response = await fetch(`/delete-drawing/${id}/`, {
        method: "POST"
    });

    const data = await response.json();

    if (data.success)
    {
        location.reload();
    }
}

</script>
</body>
</html>