<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/master.css">

    <title>Saved Drawings</title>
</head>

<body>

<div class="background">

    <div class="login-header"
    style="
         margin-top: 30px;
    ">
        Saved Drawings
    </div>

    <div class="login-container saved-container">
        <a class="home" href="{{url_for('home')}}"> Home</a>
        
        {% for drawing in drawings %}

        <div class="saved-card">

            <div class="saved-content">

                <h2 style="color:#ffc478;">
                    {{ drawing.drawing_name }}
                </h2>

                <img
                    src="{{ drawing.image_data }}"
                    class="saved-preview">

                <div class="saved-buttons">

                    <a
                        href="{{ url_for('load_drawing', id=drawing.id) }}"
                        class="vert-button"
                        style="padding:10px;"
                    >
                     Load
                    </a>

    <button
        onclick="deleteDrawing({{ drawing.id }})"
        class="vert-button"
        style="padding:10px;"
    >
        Delete
    </button>

</div>
                

            </div>

        </div>

        {% endfor %}

    </div>

</div>
<script>

async function deleteDrawing(id)
{
    const response = await fetch(`/delete-drawing/${id}/`, {
        method: "POST"
    });

    const data = await response.json();

    if (data.success)
    {
        location.reload();
    }
}

</script>
</body>
</html>