<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/master.css">
    <title>Document</title>
</head>
<body>
    <!-- Tabel Currently working here for styling -->
    <div class = background>
        <div class = login-header>
            Settings
        </div>
        <div class = login-container>
            <table class = "settings-table">
            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>

            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>
            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>
            </table>
            <table class = "settings-table">
            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>

            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>
            <tr>
                <td class="settings-td">
                <label class="settings-controls">CheckBox: </label>
                <input type="checkbox" class="settings-buttons" id = "MT_PlaceHolder" name = "PlaceHolder" value = "PlaceHolder">
                </td class="settings-td">
            </tr>
            </table>
        </div>
            
    </div>
</body>
</html>