<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= "../static/master.js"></script>
    <link rel="stylesheet" href="../static/master.css">
    <title>Document</title>
</head>
<body>
    <div class = background>
        <div class = login-header>
            Sign Up
    
        </div>
        <div class = login-container>
            
            <form action="{{ url_for('register') }}" method="POST">
            <table class = "login-handler">
                <tr>
                    <td>
                        <label class="login-info">Username: </label>
                        <input type="text" class="login-info" name="username" id = "username" placeholder="Enter Here" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="login-info">Password: </label>
                        <input type="password" class="login-info" name="password" id = "password" placeholder="Enter Here" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="login-info" id = "login-button">Create Account</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="login-info" id = "return" href ="{{url_for('login')}}">Return</a>
                    </td>
                </tr>
            </form>
        </div>
    </div>
    
</body>
</html>


